name: NPM Package Publish with PNPM

on:
  workflow_dispatch:
  release:
    types: [created]

permissions: read-all

jobs:
  publish:
    permissions:
      id-token: write
      contents: read
    uses: mauriciolauffer/.github/.github/workflows/pnpm-publish.yml@main
